@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap");

@font-face {
	font-family: "DahliaMedium";
	src: url("/fonts/dahlia-medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dahlia-font {
	font-family: "DahliaMedium", sans-serif;
	font-weight: normal;
}

:root {
	--tw-indigo-500: #6366f1; /* Replace with the actual value */
	--tw-slate-300: #cbd5e1; /* Replace with the actual value */
}
/* body {
  font-family: "Playfair Display", serif;
} */
body .\[\&\>svg\]\:max-w-\[theme\(spacing\.unit-8\)\] > svg {
	max-width: unset;
}

svg {
	max-width: 100%;
}
button svg {
	max-width: 100px;
	height: auto;
}

/* .marquee .swiper-wrapper {
     -webkit-transition-timing-function: linear;
     transition-timing-function: linear;
     position: relative;
}

.marquee svg {
     height: 60px;
     width: auto;
} */

/* .marquee {
     position: relative;
}

.marquee .swiper-slide {
     width: auto;
     height: auto;
     flex-shrink: 0;
} */
.masked-edges::before,
.masked-edges::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100px;
	z-index: 10;
	pointer-events: none;
	background: linear-gradient(
		to right,
		hsl(var(--nextui-background)) 0%,
		transparent 100%
	);
}

.masked-edges::after {
	right: 0;
	transform: rotate(180deg);
}

/* .marquee .swiper-button-prev,
.swiper .swiper-button-next {
     z-index: 15;
} */

/* .gradient-text {
     background: linear-gradient(
          45deg,
          var(--tw-indigo-500),
          var(--tw-slate-300)
     );
     -webkit-background-clip: text;
     color: transparent;
     background-clip: text;
} */

.gradient-after {
	position: relative;
}
.gradient-after {
	mask-image: linear-gradient(to bottom, black, transparent);
}
.gradient-after:has([data-open="true"]) {
	mask-image: unset;
}

/**********/

.gradient-text {
	--colorA: #069e8d;
	--colorB: #37ddca;
	cursor: default;
	position: relative;
	background-image: linear-gradient(
		120deg,
		var(--colorA) 0%,
		var(--colorB) 50%,
		var(--colorA) 100%
	);
	background-origin: padding-box;
	background-size: 200%;
	-webkit-box-decoration-break: clone;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: unset;
	animation-timeline: auto;
	animation-range-start: normal;
	animation-range-end: normal;
	overflow: visible;
	animation: 3s linear 0s infinite normal forwards running nextui-k-dAFEPd;
}
@keyframes nextui-k-dAFEPd {
	100% {
		background-position: -200% center;
	}
}

/***************/

:root {
	--size: clamp(10rem, 1rem + 40vmin, 30rem);
	--gap: calc(var(--size) / 14);
	--duration: 50s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));
}

.marquee {
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
	/* mask-image: linear-gradient(
          var(--mask-direction, to right),
          hsl(0 0% 0% / 0),
          hsl(0 0% 0% / 1) 20%,
          hsl(0 0% 0% / 1) 80%,
          hsl(0 0% 0% / 0)
     ); */
}

.marquee__group {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
	.marquee__group {
		animation-play-state: paused;
	}
}

.marquee--reverse .marquee__group {
	animation-direction: reverse;
	animation-delay: -3s;
}

@keyframes scroll-x {
	from {
		transform: translateX(var(--scroll-start));
	}
	to {
		transform: translateX(var(--scroll-end));
	}
}

/***********/

.gradient-overlay {
	position: relative;
	max-height: 300px;
	overflow: hidden;
}
.gradient-overlay::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to bottom, transparent, rgb(226, 232, 240));
}
.gradient-overlay.hidden {
	display: none;
}
.flex:hover .gradient-overlay::after {
	background: linear-gradient(
		to bottom,
		transparent,
		hsl(
			var(--nextui-content2) /
				var(--nextui-content2-opacity, var(--tw-bg-opacity))
		)
	);
}

/* .custom-gradient {
  background: linear-gradient(
    to right top,
    rgb(255 215 0 / 15%),
    rgb(0 0 255 / 15%)
  );
}

.custom-gradient-2 {
  background: linear-gradient(
    to right top,
    rgb(255 0 0 / 15%),
    rgb(0 233 255 / 15%)
  );
}

.custom-gradient-3 {
  background: linear-gradient(
    to right top,
    rgb(0 242 255 / 15%),
    rgb(173 0 255 / 15%)
  );
} */

/*******************/

.highlight-bg {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	background: inherit;
	border-radius: inherit;
	background: linear-gradient(-90deg, #007cf0, #38fff5, #674cff, #007cf0);
	background-size: 400% 100%;
	border: none;
	padding: 0;
	margin: 0;
	animation: background-anim 8s ease-in-out infinite;
	opacity: 0.35;
}
@keyframes background-anim {
	50% {
		background-position: 140% 50%;
		transform: skew(-2deg);
	}
}

/***************/
