@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
     --tw-indigo-500: #6366f1; /* Replace with the actual value */
     --tw-slate-300: #cbd5e1; /* Replace with the actual value */
}

body .\[\&\>svg\]\:max-w-\[theme\(spacing\.unit-8\)\] > svg {
     max-width: unset;
}

.marquee .swiper-wrapper {
     -webkit-transition-timing-function: linear;
     transition-timing-function: linear;
     position: relative;
}

.marquee svg {
     height: 60px;
     width: auto;
}

.marquee {
     position: relative;
}

.marquee .swiper-slide {
     width: auto;
     height: auto;
}
.marquee::before,
.marquee::after {
     content: "";
     position: absolute;
     top: 0;
     bottom: 0;
     width: 100px; /* Adjust the width as needed */
     z-index: 10;
     pointer-events: none;
     background: linear-gradient(
          to right,
          hsl(var(--nextui-background)) 0%,
          transparent 100%
     );
}

.marquee::after {
     right: 0;
     transform: rotate(180deg);
}

.marquee .swiper-button-prev,
.swiper .swiper-button-next {
     z-index: 15;
}

.gradient-text {
     background: linear-gradient(
          45deg,
          var(--tw-indigo-500),
          var(--tw-slate-300)
     );
     -webkit-background-clip: text;
     color: transparent;
     background-clip: text;
}
